* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 104, 104);
}

.container{
  position: relative;
  width: 100%;
  height: 100vh;
}

.heart-1 {
    width: 5rem;
    height: 5rem;
    background-color: red;
    position: absolute;
    left: 8rem;
    top: 25rem;
    transform: rotate(-45deg);
}

.heart-1::after {
    content: "";
    background-color: black;   /* black is for testing */
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    right: 2rem;
    bottom: 0rem;
}

.heart-1::before {
  content: "";
  background-color: blue;   /* blue is for testing*/
  border-radius: 50%;
  position: absolute;
  width: 5rem;
  height: 5rem;
  bottom: 0rem;
  right: 0rem;
}

.heart-2 {
  height: 5rem;
  width: 5rem;
  background-color: red;
  position: absolute;
  left: 20rem;
  top: 10rem;
  transform: rotate(-45deg);
}

.heart-2::after {
    content: "";
    background-color: black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
}

.heart-3 {
  height: 5rem;
  width: 5rem;
  background-color: red;
  position: absolute;
  right: 40rem;
  bottom: 15rem;
  transform: rotate(-45deg);
}

.heart-3::after {
    content: "";
    background-color: black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
}

.heart-4 {
  height: 5rem;
  width: 5rem;
  background-color: red;
  position: absolute;
  right: 25rem;
  top: 10rem;
  transform: rotate(-45deg);
}

.heart-4::after {
    content: "";
    background-color: black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
}

.heart-5 {
  height: 5rem;
  width: 5rem;
  background-color: red;
  position: absolute;
  right: 8rem;
  top: 25rem;
  transform: rotate(-45deg);
}

.heart-5::after {
    content: "";
    background-color: black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
}

.heart-sm-1 {
  height: 2rem;
  width: 2rem;
  background-color: rgb(204, 21, 21);
  position: absolute;
  right: 16rem;
  top: 24rem;
  transform: rotate(-45deg);
}

.heart-sm-1::after {
    content: "";
    background-color: black;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
}

.heart-sm-2 {
  height: 2rem;
  width: 2rem;
  background-color: rgb(204, 21, 21);
  position: absolute;
  left: 15rem;
  top: 22rem;
  transform: rotate(-45deg);
}

.heart-sm-2::after {
    content: "";
    background-color: black;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
}

.heart-sm-3 {
  height: 2rem;
  width: 2rem;
  background-color: red;
  position: absolute;
  right: 35rem;
  top: 8rem;
  transform: rotate(-45deg);
}

.heart-sm-3::after {
    content: "";
    background-color: black;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
}

.heart-sm-4 {
  height: 2rem;
  width: 2rem;
  background-color: red;
  position: absolute;
  right: 50rem;
  bottom: 8rem;
  transform: rotate(-45deg);
}

.heart-sm-4::after {
    content: "";
    background-color: black;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
}